.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.node {
  rect.level0 {
    fill: rgb(238, 116, 127);
    stroke-width: 0;
  }
  rect.level1 {
    fill: rgb(238, 116, 127);
    stroke-width: 0;
    rx: 5px;
    ry: 5px;
  }
  rect.level2 {
    fill: rgb(238, 116, 127);
    stroke-width: 0;
  }
  text.level0 {
    fill: rgb(0, 0, 0);
    font-size: 16px;
  }
  text.level1 {
    fill: rgb(255, 255, 255);
    font-size: 12px;
  }
  text.level2 {
    fill: rgb(0, 0, 0);
    font-size: 14px;
  }
}

