 line.link {
  stroke: #999;
  stroke-opacity: 0.6;
   stroke-width: 0.6px;
}
g.node {
  rect.level0 {
    fill: rgb(238, 116, 127);
    stroke-width: 0;
  }
  rect.level1 {
    fill: rgb(238, 116, 127);
    stroke-width: 0;
    height: 30px;
    rx: 5px;
    ry: 5px;
    cursor:pointer;
  }
  rect.level2 {
    fill: rgb(238, 116, 127);
    stroke-width: 0;
  }
  text.level0 {
    fill: rgb(0, 0, 0);
    font-size: 32px;
    font-family: "Microsoft YaHei", "Source Sans", helvetica, arial, sans-serif;
    cursor: pointer;
  }
  text.level1 {
    fill: rgb(255, 255, 255);
    font-size: 14px;
    font-family: "Microsoft YaHei", "Source Sans", helvetica, arial, sans-serif;
    cursor: pointer;
  }
  text.level2 {
    fill: rgb(0, 0, 0);
    font-size: 24px;
    font-family: "Microsoft YaHei", "Source Sans", helvetica, arial, sans-serif;
    cursor: pointer;
  }
  circle.fold{
    fill:rgb(255,255,255);
    cursor: pointer;
  }
  rect.symbol{
    fill: rgb(238, 116, 127);
    stroke-width: 0;
    width:10px;
    height:3px;
  }
}

